/* .material-symbol {
    font-family: 'Material Symbols Outlined';
} */

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.material-symbols-rvhookup {
    font-family: 'Material Symbols Outlined';
    font-variation-settings:
        'FILL' 0,
        'wght' 800,
        'GRAD' 0,
        'opsz' 24
}

/* 
.material-icon-outline {
    font-family: 'Material Symbols Outlined';
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-icon-filled {
    font-family: 'Material Symbols Outlined';
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-icon-bold {
    font-family: 'Material Symbols Outlined';
    font-variation-settings: 'wght' 800;
}

.material-icon-small {
    font-family: 'Material Symbols Outlined';
    font-variation-settings: 'opsz' 12;
}

.material-icon-large {
    font-family: 'Material Symbols Outlined';
    font-variation-settings: 'opsz' 48;
} */